/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: keep-all;
}

.navbar-left {
    float: left;
    position: relative;
    display: inline-block;
}

.navbar-parent {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.navbar-right {
    float: right;
    display: inline-block;
}

.references {
    margin-top: 3rem;
}
/* Provide sufficient contrast against white background */
a {
       color: #0366d6;

}

.sectionCard {
    width: 200px;
}

.display-6 {
    padding-top: 25px;
    padding-bottom: 20px;
}

.screenshot-thumbnail {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.screenshot-thumbnail:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sectionTitle {
    font-size: large;
    padding-left: 7px;
}
 
[aria-expanded="true"] div.expand:before {
    content: '\f139';
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
}

[aria-expanded="false"] div.expand:before {
    content: '\f13a';
    font-family: "Font Awesome\ 5 Free";
    font-weight: 900;
}

ul.listItem li:before {
    content: '\f1b2';
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    margin: 0 5px 0 -25px;
}

ul.listItem {
    margin-bottom: 0;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-container {
    display: flex;
    justify-content: center;
    opacity: 0.5;
}

.rrlinkCard {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.card-header {
    background-color: gainsboro;
}

.linkIcon {
    width: 3rem;
    padding-top: 2rem;
}

.menunavbar {
    background-color: darkolivegreen;
}
.fa-caret-square-up {
    color: white;
}

.searchResults {
    padding-top: .6rem;
    padding-bottom: .6rem;
}

.workImage {
    width: 2rem;
    align-content: center;
    margin-bottom: .5rem;
}

.techImageDiv {
    width: 32px;
    vertical-align: middle;
    text-align: center;
}

.techImageTd {
    display: flex;
}

.techImage {
    max-width: 32px;
    max-Height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    vertical-align: middle;
    align-content: center;
}

.techName {
    margin-left: .4rem;
    margin-top: .25rem;
}

.techList {
    font-size: xx-small;
}

.table-stripedX tbody tr:nth-of-type(4n+1) {
    background-color: rgba(0,0,0,.05);
}

.navbar {
    background-color: rgb(36, 37, 55);
    padding-top: .1rem;
    padding-bottom: .1rem;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-link {
    color: bisque;
}

.nav-link:hover {
    color: bisque;
    text-decoration: underline;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
    }

}

@media (max-width: 400px) {
    .techImage {
        width: 1rem;
    }
    .rating {
        font-size: .75rem;
    }
    .hideSmall {
        display: none;
    }
}

.fa-icon {
    width: 24px;
    float:left;
    text-align:center;
}

.primary-ctn {
}

.companyName {
    font-weight: 600;
    font-size: 1.8rem;
    padding-bottom: 2px;
    text-shadow: 3px 3px 5px darkgrey;
}


.workTitle {
    font-weight: 600;
    font-style: italic;
    color: darkblue;
    text-shadow: 3px 3px 5px darkgrey;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  padding-bottom: .5rem;
}

.itemBox {
    border: 1px solid lightgrey;
    background-color: lightblue;
    border-radius: 3px;
    float: left;
    padding: 0px 3px 2px 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    font-size: smaller;
}

.cat1 {
    background-color: #2f4f4f;
    color: white;
}

.cat2 {
    background-color: #228b22;
    color: white;
}

.cat3 {
    background-color: #7f0000;
    color: white;
}

.cat4 {
    background-color: #00008b;
    color: white;
}

.cat5 {
    background-color: #ff8c00;
    color: black;
}

.cat6 {
    background-color: #ffff00;
    color: black;
}

.cat7 {
    background-color: #00ff00;
    color: black;
}

.cat8 {
    background-color: #00ffff;
    color: black;
}

.cat9 {
    background-color: #ff00ff;
    color: white;
}

.cat10 {
    background-color: #1e90ff;
    color: white;
}

.cat11 {
    background-color: #ffe4b5;
    color: black;
}

.cat12 {
    background-color: #ff69b4;
    color: black;
}

.cat13 {
    background-color: #8a2be2;
    color: white;
}

.cat14 {
    background-color: #a52a2a;
    color: white;
}

.card {
    box-shadow: 5px 5px 15px lightgrey;
    
}

.my-2 {
    margin-bottom: .8rem !important;
    margin-top: .8rem !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("/img/menu.png");
}

.navbar-menu {
    background-color: darkblue;
}

.summaryText {
    padding-bottom: 25px;
    margin-left: .3rem;
    margin-right: .3rem;
}

.summaryBullets {
    text-align: left !important;

}

.display-6 {
    padding-top: 25px;
    padding-bottom: 20px;
}
/* Certifications: remove text shadow for details column (stronger specificity) */
.certifications-card .cert-details,
.certifications-card .cert-details *,
.certifications-card .cert-details a,
.certifications-card .cert-details .workTitle,
.certifications-card .cert-details .workTitle * {
  text-shadow: none !important;
}

/* Certifications: increase space between image and details */
.certifications-card .cert-thumb {
  margin-right: 2rem !important; /* roughly double the default mr-3 (1rem) */
}

@media (max-width: 576px) {
  .certifications-card .cert-thumb {
    margin-right: 0.75rem !important; /* tighter on small screens */
  }
}
