@page
@{
    ViewData["Title"] = "Credit";
}

<div>HTML/CSS Framework: <a src="https://getbootstrap.com/">Bootstrap</a></div>
<div>Border Graphics: <a src="http://www.designtos.com/post_vintage-frames-and-borders_323684/">designto.com</a></div>
<div>Icon graphics: <a src="https://fontawesome.com/">Font Awesome</a></div>
<div>C++ Logo: <a src="https://github.com/isocpp/logos">Jeremy Kratz / Copyrighted free use</a></div>
<div>HTML5 Logo: By <a rel="nofollow" class="external text" href="http://www.w3.org/html/logo/index.html">W3C</a>, <a href="https://creativecommons.org/licenses/by/3.0" title="Creative Commons Attribution 3.0">CC BY 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=12736763">Link</a></div>
<div>CSS3 Logo: <a href="https://commons.wikimedia.org/wiki/File:CSS3_logo_and_wordmark.svg" title="via Wikimedia Commons">Rudloff</a> / <a href="https://creativecommons.org/licenses/by/3.0">CC BY</a></div>
<div>VBScript Logo: <a href="https://logodix.com/logos/1718712">logodix</a></div>
<div>TypeScript Logo: <a href="https://commons.wikimedia.org/wiki/File:Typescript_logo_2020.svg" title="via Wikimedia Commons">Microsoft</a> / <a href="https://creativecommons.org/licenses/by/4.0">CC BY</a></div>
<div>SASS Logo: <a href="https://sass-lang.com/styleguide/brand">SASS website</a> / <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a></div>
<div>PHP Logo: <a href="https://www.php.net/download-logos.php">PHP Website</a> / <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-Share Alike 4.0 International</a></div>
<div>Ruby Logo: <a href="https://www.ruby-lang.org/en/about/logo/">Ruby Website</a> / <a href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-ShareAlike 2.5 License agreement</a></div>
<div>Modula2 Logo: <a href="https://github.com/eduardorasgado/modula2/blob/master/LICENSE">Copyright 2018 Eduardo Rasgado</a></div>