@page
@{
    ViewData["Title"] = "Credit";
}

<div>HTML/CSS Framework: <a src="https://getbootstrap.com/">Bootstrap</a></div>
<div>Border Graphics: <a src="http://www.designtos.com/post_vintage-frames-and-borders_323684/">designto.com</a></div>
<div>Icon graphics: <a src="https://fontawesome.com/">Font Awesome</a></div>
<div>C++ Logo: <a src="https://github.com/isocpp/logos">Jeremy Kratz / Copyrighted free use</a></div>

