@page
@using CV.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p>Welcome to my online curriculum vitae.</p>
    <p><strong>I'm a passionate, professional software architect and programmer with extensive career experience solving
complex problems with targeted, polished solutions. I'm enamored with researching new technology and programming
advances and how they can reduce costs and increase revenue.</strong></p>
    <p>If you need a short form resume, please request it here. This helps to limit the amount of spam I receive on my cell phone.</p>
</div>

<div class="text-center">
<p>Do you need help?  Am I qualified for a position? Don't poke around my CV, just search for the relevant experience here. Seperate search terms with a comma.</p>
<form method="get">
    <input type="text" name="searchTerms" id="searchTerms" value="@Model.searchTerms"> 
    <input type="submit" value="Search">
</form>
</div>
<div class="searchResults">
<div>
    <partial name="_TechList" model='new PartialViewModel<TechCategory> { ItemList = Model.SearchedTechCategories, IsForSearch = true }' />
</div>

<div>
    <partial name="_WorkList" model="new PartialViewModel<WorkItem> { ItemList = Model.SearchedWorkItems, IsForSearch = true }" />
</div>

<div>
    <partial name="_ProjectList" model="new PartialViewModel<ProjectItem> { ItemList = Model.SearchedProjectItems, IsForSearch = true }" />
</div>

<div>
    <partial name="_EdList" model="new PartialViewModel<EdItem> { ItemList = Model.SearchedEdItems, IsForSearch = true }" />
</div>
</div>
@section Scripts
{
  <script type="text/javascript">
    window.addEventListener('load',function(){
        document.getElementById("searchTerms").select();
    })
  </script>
}