@page
@using CV.Pages
@using CV.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><strong>I'm Michael Silver, a professional lead software engineer and architect, working out of the state of Georgia in the USA.
    I created this site to house my curriculum vitae and to learn more about specific aspects of programming with ASP.NET Razor Pages.
</strong></p>
    <div class="card-group align-item-center justify-content-center">

        <a href="https://www.linkedin.com/in/michaelsilver/">
        <div class="card linkCard mx-auto">
            <div class="card-title">
                <img class="linkIcon" src="~/img/linkedin.svg" />
            </div>
            <div class="card-body">
                LinkedIn Profile
            </div>
        </div>
        </a>

        <a href="https://stackoverflow.com/users/125406/michael-silver">
        <div class="card linkCard mx-auto">
            <div class="card-title">
                <img class="linkIcon" src="~/img/so-icon.svg" />
            </div>
            <div class="card-body">
                Stack Overflow profile
            </div>
        </div>
        </a>

        <a href="files/MichaelSilverResume.pdf">
        <div class="card linkCard mx-auto">
            <div class="card-title">
                <img class="linkIcon" src="~/img/resume.svg" />
            </div>
            <div class="card-body">
                PDF Resume
            </div>
        </div>    
        </a>

    </div>
</div>

<div class="text-center">
<p>Being a CV, this site is rather exhaustive, so for recruiters or those looking for specific skill, I offer a search function below. Enter a technology or a business name, click search and you're off to the races.  Separate multiple terms with a comma.</p>
<form method="get">
    <input type="text" name="searchTerms" id="searchTerms" value="@Model.searchTerms"> 
    <input type="submit" value="Search">
</form>
</div>
<div class="searchResults">

@if (Model.SearchedTechCategories.Count() > 0)
{
    <div>
        <partial name="_TechSearchList" model='new PartialViewModel<TechCategory> { ItemList = Model.SearchedTechCategories, IsForSearch = true }' />
    </div>
}

@if (Model.SearchedWorkItems.Count() > 0)
{
    <div>
        <partial name="_WorkSearchList" model="new PartialViewModel<WorkItem> { ItemList = Model.SearchedWorkItems, IsForSearch = true }" />
    </div>
}

@if (Model.SearchedProjectItems.Count() > 0)
{
    <div>
        <partial name="_ProjectSearchList" model="new PartialViewModel<ProjectItem> { ItemList = Model.SearchedProjectItems, IsForSearch = true }" />
    </div>
}

@if (Model.SearchedEdItems.Count() > 0)
{
    <div>
        <partial name="_EdSearchList" model="new PartialViewModel<EdItem> { ItemList = Model.SearchedEdItems, IsForSearch = true }" />
    </div>
}
</div>
@section Scripts
{
  <script type="text/javascript">
    window.addEventListener('load',function(){
        document.getElementById("searchTerms").select();
    })
  </script>
}