@page
@model CV.Pages.OpenModel
@{
    ViewData["Title"] = "Open Source Projects";
}

@foreach (var openItem in Model.OpenItems)
{
    <div class="d-flex flex-row justify-content-between align-items-center item-title">
        <div class="col-8">
            <div class="companyName">
                <img class="workImage" src="~/img/@openItem.Image"/>
                @openItem.ProjectName
            </div>
            <div class="workTitle">
                <i class="far fa-address-card"></i>
                @openItem.Position
            </div>
        </div>
        <div class="col-4">
            <div>
                <i class="far fa-calendar-alt"></i> @openItem.Dates
            </div>
            <div>
                <i class="fas fa-map-marked-alt"></i>
                @openItem.Location
            </div>
        </div>
    </div>
    <div>
        <ul class="fa-ul listItem">
            @foreach (var item in openItem.BulletPoints)
            {
                <li>
                    @item
                </li>
            }
        </ul>
    </div>
    <div class="border-container">
        <img src="~/img/border.png" />
    </div>

}

