@page
@model CV.Pages.EdModel
@{
    ViewData["Title"] = "Reference";
}

<p class="references">
Due to privacy concerns, references are only provided upon <a href="mailto:masilver@gmail.com?subject=CV Reference Request">request</a>.
</p>
<p>
    Managerial references can be provided for every <a asp-page="work">job</a> since 2000.
</p>
