@using CV.Models
@model List<EdItem>

@foreach (var edItem in Model)
{
    <div class="card my-2">
        <div class="card-header">
            <div class="d-flex flex-wrap justify-content-between align-items-center item-title">
                <div class="p-2 flex-grow-1">
                    <div class="companyName">
                        <img class="workImage" src="~/img/@edItem.Image" />
                        @edItem.SchoolName
                    </div>
                    <div class="workTitle">
                        <i class="fas fa-graduation-cap"></i>
                        @edItem.Degree
                    </div>
                </div>
                <div class="p-1">
                    <div>
                    </div>
                    <div>
                        <div>Graduation Date:</div>
                        <div>
                            <i class="far fa-calendar-alt"></i>
                        @edItem.GraduationDate
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <ul class="fa-ul listItem">
                @foreach (var item in edItem.BulletPoints)
                {
                    <li>
                        @item
                    </li>
                }
            </ul>
        </div>
    </div>

}