@using CV.Models
@inject Microsoft.Extensions.Options.IOptions<VersionInfo> VersionInfo
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Michael Silver - Software Engineer and Architect - Curriculum Vitae</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark sticky-top">
            <div class="navbar-parent">
                <div class="navbar-left">
                    <a class="navbar-brand" href="/">Michael Silver -<wbr> Curriculum Vitae</a>
                </div>
                <div class="navbar-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="custom-toggler navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-expand-sm menunavbar sticky-top navbar-menu">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Summary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/work">Work History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/tech">Technology</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ed">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ref">References</a>
                        </li>
                    </ul>
                </div>
        </nav>
    </header>

    <div class="container primary-ctn">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
      <div class="container ">
        <div class="text-muted">Some icons and images are <a href="Credit">used with permission</a> and may be copyrighted. </div><div class="text-muted">Release Date: @VersionInfo.Value.BuildDate</div>
      </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        // remove any current navbar active classes
        $(".navbar .nav-item.active").removeClass('active');
        // add active class to proper navbar item that matches window.location
        $('.navbar .nav-item a[href="' + location.pathname + '"]').closest('li').addClass('active');
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
